.content {
    position: relative;
    width: calc(100% - var(--indentPX)*2);
    height: calc(100% - var(--indentPX)*2);
    padding: var(--indentPX);
}

.content .closeButton {
    position: absolute;
    right: var(--indentPX);
}