* {
    color: white;
    font-family: 'Bree Serif', serif;
}

body {
    margin: 0;
    padding: 0;
}

button {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    position: relative;

    border-radius: 50%;
    border: white 3px solid;
    font-style: normal;
    font-size: 30px;

    justify-content:center;
    align-items: center;

    cursor: pointer;
    opacity: 70%;
    transition: all 0.2s ease;
}

button:hover {
    opacity: 100%;
}

button:active {
    transition: all 0.1s ease;
    opacity: 80%;
}

.hide {
    display: none;
}

.content {
    display: block;
    position: relative;
    width: 670px;
    height: 470px;
    background: #3EB3FB;
}